
/* font type and background color */
.all{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F5F5F5;
}
.button:hover {
    background-color: rgb(51, 255, 0); /* New background color when hovered */
    color: white; /* New text color */
  }
/* navigation part */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 160px;
}
nav h1{
    font-size: 32px; font-weight: bold;
}
nav button{
    font-size: 18px; font-weight: 600;
    width: 116px; height: 52px;
    color: #006A50;
    border: 1px #006A50 solid;
    border-radius: 8px;
}
/* banner part */
.banner{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    align-items: center;
    margin: auto auto;
    padding: 51px;
    max-width: 1088px;
}
.banner-title{
    font-size: 24px; font-weight: 500;
    opacity: .5;
    margin-top: 0px;
    margin-bottom: 14px;
}
.banner-idea{
    font-size: 56px; font-weight: bold;
    width: 528px;
    margin-top: 0px;
}
.banner-button{
    color: white;
    background-color: #006A50;
    width: 270px; height: 56px;
    font-size: 18px; font-weight: 600;
    border: none; border-radius: 8px;
}
header img{
    width: 403px;
}
/* vision part */

.vision{
    margin: auto auto;
    max-width: 1188px;
}
.vision-title{
    font-size: 40px; font-weight: bold;
    margin-bottom: 20.4px;
}
.vision-desc{
    font-size: 16px; font-weight: normal;
    margin-top: 0px;
}
/* 3 parts combine of vision */
.vis-part-comb{
    display: flex;
    justify-content: space-between;
    gap: 21px;
}
/* each part of vision */
.vision-part{
    width: 349px; height: 250px;
    border-radius: 16px;
    padding: 27.2px;
}
/* each part image title description button */
.vision-part img{width: 55px;}
.vision-part h6{
    font-size: 20px; font-weight: bold;
    color: #0E0E0E; opacity: .8;
    margin-top: 20.4px;
    margin-bottom: 10.2px;
}
.vision-part p{
    font-size: 16px; font-weight: normal;
    color: #0E0E0E; opacity: .7;
    margin-top: 0px; margin-bottom: 20.4px;
}
.vision-part button{
    width: 104px; height: 35px;
    color: white;
    border: none; border-radius: 8px;
    margin-bottom: 27px;
}
.vision-part button:hover{
    background-color: rgb(51, 255, 0); /* New background color when hovered */
    color: white; /* New text color */
}
/* dr yunus quote section */
.dr-yunus{
    background-color: white;
    max-width: 1138px;
    margin: 27.2px auto;
    padding: 40.8px 20.4px;
    border-radius: 16px;
}
/* mighty quote background image */
.quote-bg{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 1.9% 15%;
}
.dr-yunus-p{
    font-size: 16px; font-weight: normal;
    color: #0E0E0E; opacity: .8;
    margin-bottom: 10.2px;
}
.dr-yunus-h{
    font-size: 20px; font-weight: 600;
    color: #0E0E0E;
    opacity: .8;
    margin-top: 0px;
    margin-bottom: 4px;
}
.dr-yunus-p2{
    font-size:16px; font-weight: normal;
    color: #0E0E0E;
    opacity: .6;
    margin-top: 0px;
}
/* //this is the news class/ */
.news{
    max-width: 1163px;
    margin: 41px auto;
}
/* news heading description */
.news-h3{
    font-size: 32px; font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 20px;
}
.news-desc{
    font-size: 16px; font-weight: normal;
    color: #0E0E0E; opacity: .7;
    margin-top: 0px;
    margin-bottom: 27px;
}
/* news part */
.news-part{
    display: flex;
    gap: 27px;
    background-color: white;
    border-radius: 24px;
    padding: 41px;
}
.news-img{
    width: 347px;
    border-radius: 24px;
}
.article-h2{
    font-size: 32px; font-weight: bold;
    color: #0E0E0E; opacity: .8;
}
.img-al{width: 114px;}
.news-time{
    font-size: 16px; font-weight: normal;
    color: #0E0E0E; opacity: .7;
    display: flex;
    gap: 10px;
}
.article-desc{
    font-size: 16px; font-weight: normal;
    color: #0E0E0E; opacity: .7;
}
.article-button{
    color: white;
    font-size: 18px; font-weight: 600;
    background-color: #006A50;
    border: none; border-radius: 8px;
    width: 118px; height: 41px;
}

/* the donation section */
.donate{
    text-align: center;
    max-width: 1163px;
    margin: auto;
    margin-top: 40px;
}
/* donation title & description */
.donate-title{
    font-size: 40px; font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 20px;
}
.donate-desc{
    font-size: 16px; font-weight: normal;
    color: #0E0E0E;
    opacity: .7;
    margin-top: 0px; margin-bottom: 0px;
    margin-left: 140px;
    max-width: 850px;
}
/* the donation amount part */
.amount{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 0px;
}
.taka{
    background-color: #FFFFFF; 
    border: 1px solid; border-radius: 16px;
    width: 204px; height: 109px;
    color: #0E0E0E; opacity: .8;
    font-size: 40px; font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
}
.taka:hover{
    background-color: #006A50;
    color: rgb(21, 255, 0);
}
.other-amount{
    background-color: #FFFFFF;
    width: 870px; height: 55px;
    color: #0E0E0E; opacity: .3;
    font-size: 20px; font-weight: normal;
    text-align: center;
}
.donate-btn{
    font-size: 18px; font-weight: 600;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    width: 128px; height: 47px;
    border: none;
    margin-top: 27px;
}

/* //subscription section// */
.subscription{
    background-color: #C6E4D6;
    border: none; border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1138px; height: 352px;
    margin: 70px auto;
}
/* subscription title & description */
.subs-title{
    font-size: 40px; font-weight: bold;
    color: #0E0E0E;
}
.subs-desc{
    font-size: 16px; font-weight: normal;
    color: #0E0E0E; opacity: .7;
    max-width: 570px;
}
/* search box */
.subs-search{
    background-color: #ffffff;
    width: 510px; height: 47.6px;
    border: none; border-radius: 8px 0px 0px 8px;
    font-size: 16px; font-weight: normal;
    color: 0E0E0E; opacity: .3;
    padding: 18px auto 18px 40px;
}
.subs-btn{
    width: 127.5px; height: 47.6px;
    background-color: #006A50; 
    border: none; border-radius: 0px 8px 8px 0px;
    font-size: 18px; font-weight: 600;
    color: #FFFFFF;
}
/* footer section */
footer{
    background-color: white;
    width: 100%; height: 300px;
    margin: auto;
    padding-top: 50px;
}
footer h3{
    font-size: 32px; font-weight: bold;
    color: #0E0E0E;
    text-align: center;
}
footer div{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 50px;
    row-gap: 50px;
}
